@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");


ul {
	display: flex;
	flex-direction: row;
	align-items: start;
	list-style-type: none;

	li {
		padding: 6px 6px;

		a {
			--fill-color: #198CE6;
			position: relative;
			display: block;
			padding: 4px 4px;
			font: 700 3vw Raleway, sans-serif;
			text-decoration: none;
			text-transform: uppercase;
			-webkit-text-stroke: 2px var(--fill-color);
			background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
			color: transparent;
			background-clip: text;
			transition: 0.5s linear;

			&:hover {
				background-size: 100%;
			}
		}
	}
}

@media (max-width: 800px) {
	ul {
		li {
			a {
				font: 700 5vw Raleway, sans-serif;
			}
		}
	}
}