.standing-page-wrapper {

    border: 1px solid rgb(255, 255, 255);
    border-radius: 2vw;
    padding: 2vw;
    margin: 2vw;

    .standing-page-info {
        display: flex;
        flex-direction: row;
        width: 80vw;
        justify-content: space-between;
        padding: 0 5vw;

        h1 {
            color: #fff;
            font-size: 3vw;
            padding: .5vw;
        }

        .standing-page-info-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            align-content: center;
        }

        img {
            width: 5vw;
            padding-right: 1vw;
        }
    }
}

@media (max-width: 800px) {
    .standing-page-wrapper {
        .standing-page-info {
            h1 {
                color: #fff;
                font-size: 5vw;
                padding: .5vw;
            }
        }
    }
}